# Virtual environments
venv/
.env
.env.*

# Python bytecode
__pycache__/
*.py[cod]

# Logs
*.log
logs/

# System files
.DS_Store

# VS Code + IDEs
.vscode/
.idea/

# Jupyter / Colab
.ipynb_checkpoints/
